<div
  class="modal fade"
  id="reserveModal"
  tabindex="-1"
  aria-labelledby="reserveModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
    <div class="modal-content bg-modal">
      <div class="modal-header text-dark">
        <h5 class="modal-title" id="reserveModalLabel">Reservar Produto</h5>
        <button
          type="button"
          class="btn-close btn-close-dark no-outline"
          data-bs-dismiss="modal"
          aria-label="Fechar"
        ></button>
      </div>

      <div class="modal-body px-4 py-3">
        <div class="row g-4 align-items-start">
          <!-- Formulário -->
          <div class="col-12 col-lg-6">
            <form id="contactForm" class="d-flex flex-column h-100">
              <div class="flex-grow-1 overflow-auto pe-2">
                <h5><strong>Informações de Contacto</strong></h5>
                <div class="coolinput">
                  <label for="nome" class="text">Nome</label>
                  <input type="text" id="nome" name="nome" class="input" placeholder="Escreva o seu nome..." required />
                </div>
                <div class="coolinput">
                  <label for="empresa" class="text">Empresa</label>
                  <input type="text" id="empresa" name="empresa" class="input" placeholder="Escreva o nome da empresa..." required />
                </div>
                <div class="coolinput">
                  <label for="email" class="text">Email</label>
                  <input type="email" id="email" name="email" class="input" placeholder="Escreva o gmail da empresa..." required />
                </div>
                <div class="coolinput">
                  <label for="telefone" class="text">Telefone</label>
                  <input
                    type="tel"
                    id="telefone"
                    name="telefone"
                    class="input"
                    placeholder="Escreva o telefone da empresa..."
                    required
                    maxlength="9"
                    pattern="[0-9]{9}"
                    title="Digite exatamente 9 números"
                  />
                </div>
                <div class="coolinput">
                  <label for="observacoes" class="text">Observação (Opcional)</label>
                  <textarea id="observacoes" name="observacoes" class="input" rows="4" style="resize: none; height: 110px" placeholder="Escreva uma observação..."></textarea>
                </div>
              </div>
              <div class="mt-3">
                <button type="submit" class="btn-form w-100 py-2">Enviar Reversa</button>
              </div>
            </form>
          </div>

          <!-- Informação do produto -->
          <div class="col-12 col-lg-6" id="reserveProductInfo" style="max-height: 100vh; overflow-y: auto"></div>
        </div>
      </div>
    </div>
  </div>
</div>


